// sidebar style
// this style is very related to a spacial docsify version

.sidebar
    position: relative
    // the sidebar must set a z-index greater than main content 
    // to make toggle button show upon main content
    z-index: 1
    width $sidebar-width
    height 100vh
    top 0
    left 0
    bottom 0
    border-right: 1px solid rgba(0,0,0,.07)
    transition transform .25s ease-in-out

body.close
    .sidebar
        transform: translateX(-($sidebar-width))
