// sidebar toc

.sidebar-nav
    p
        font-weight: bold

    ul
        display: block
        margin-left: 1rem
        list-style: none
        font-size: .8rem
        font-weight: normal

        li
            list-style: none
            margin: .8rem 0

            a
                color inherit 
                text-decoration: none

                &:hover
                    text-decoration: underline
        

    .active>a
        display: block
        color $theme-color
        border-right: 0.1rem solid $theme-color

