// sidebar toggle button style
// this style is very relited to a spacal docsify version

.sidebar-toggle
    position: absolute
    left 0
    bottom: 0
    width: $sidebar-width
    background-color: hsla(0,0,100,.8)
    z-index 4
    padding: 0.6rem
    outline: none
    transition: left .25s ease-in-out

    // hover style
    &:hover
        opacity .4

    span 
        display block
        background-color: $sidebar-toggle-color
        width 16px
        height 2px
        margin: 4px 0

// when the sidebar close make toggle button's background transparent
body.close
    .sidebar-toggle
        background-color: transparent
        left $sidebar-width
        width 40px