// sidebar toggle button style

.sidebar-toggle
    position: fixed
    left 0
    bottom: 0
    width: $sidebar-width
    background-color: hsla(0,0,100,.8)
    z-index 4
    padding: 0.6rem
    outline: none

    span 
        display block
        background-color: $sidebar-toggle-color
        width 16px
        height 2px
        margin: 4px 0

