// this style is for markdown section headings

h1,h2,h3,h4,h5,h6 
    font-family: getcssvar(--md-headings-font-family)
    font-weight: getcssvar(--md-headings-font-weight)
    color: getcssvar(--md-headings-color)
    margin-bottom: .8rem
    
    .anchor
        text-decoration: none
        color:getcssvar(--md-anchor-color)

        &:hover
            text-decoration: underline

        span 
            color: getcssvar(--md-headings-color)
            font-weight: getcssvar(--md-headings-font-weight)

h1
    font-size: getcssvar(--md-h1-font-size)
    
h2
    font-size: getcssvar(--md-h2-font-size)
    margin-top: $md-h2-font-size * 0.8

h3
    font-size: getcssvar(--md-h3-font-size)
    margin-top: $md-h3-font-size * 0.8

h4
    font-size: getcssvar(--md-h4-font-size)
    margin-top: $md-h4-font-size * 0.8

h5
    font-size:getcssvar(--md-h5-font-size)
    margin-top: $md-h5-font-size * 0.8

h6
    font-size: getcssvar(--md-h6-font-size)
    margin-top: $md-h6-font-size * 0.8