// style for markdown section

.markdown-section
    max-width: $md-max-width
    margin: 0 auto
    padding: 2rem 1rem

    @import '_headings'
    @import '_paragraph'
    @import '_link'
    @import '_codeblock'
    @import '_inlinecode'

    +prefix-classes('prism-')    
        @import '_highlight'
    @import '_blockquote'
    @import '_list'
    
    