// style for markdown section

.markdown-section
    position relative
    max-width: $md-max-width
    margin: 0 auto
    // give a bottom padding to .markdown-section 
    padding: 2rem 1rem 100vh 1rem
    font-family: $md-font-family
    

    @import '_headings'
    @import '_paragraph'
    @import '_img'
    @import '_link'
    @import '_codeblock'
    @import '_inlinecode'

    +prefix-classes('prism-')    
        @import '_highlight'
    @import '_blockquote'
    @import '_list'
    @import '_table'
    
    