// paragraph styles

p
    margin: $p-margin
    line-height: 1.6rem

    >code
        font-family: $p-code-font-family
        background: $p-code-bg
        color: $p-code-color
        padding $p-code-padding
        border-radius: $p-code-border-radius

    em
        font-style: oblique

    strong 
        font-weight: 600
