// table style in markdown section

table
    border-collapse: collapse
    border-spacing: 0
    display: block
    margin: 1.2rem 0
    overflow: auto
    width 100%
    

    th 
        font-weight: 600
        border 1px solid #ddd
        padding: 0.4rem 1rem


    td 
        border 1px solid #ddd
        padding: 0.4rem 1rem

    tr:nth-child(even)
        background-color: #f8f8f8

        // code block in table
        code
            background: darken(#f8f8f8,5%)
