
// for code highlight styles

// common language styles
code[class*="language-*"]
pre[code[class*="language-*"]
    font-family: $code-font-family
    font-size: $code-font-size

    .token
    $code-styles