
// for code highlight styles

// common language styles

pre[class*="language-"]
code[class*="language-"]
    font-family: $code-font-family
    font-size: $code-font-size
    color: $code-primary-color
    
    &::selection
    ::selection
        background: $code-selection-bg

    {$code-token-styles}
        