// Code div
// this styles only affect the style of code area not the code it self


$pre-bg = #112233

$


// Code highlight
// this is the code style only code blocks not inline code
// include 
// code color font-size font-family selection color
// shadows text decoration etc.
// and some control of code like comment itlic switch

$code-font-size = 1em
$code-font-family = 'Ubuntu mono','',Cursor,Consoles
$code-primary-color = #000000
$code-selection-color = #eeeeee

$code-styles = {
    '.function':{
        color : #DD4A68
    }
}
